
section.main{
  width: 600px;
  height: 400px;
  margin : 5em auto;
}

.color-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


form.color {
  display: flex;
  margin:.5em 0;
}

form.color input[type=text] {
  flex-grow: 1;
}

form.color > * + * {
  margin-left:1em;
}