.card {
    box-shadow: 1px 2px 2px 1px lightgray;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid rgb(187, 185, 185);
    border-bottom: 1px solid rgb(187, 185, 185);
  }