section.color {
    min-width: 12em;
    text-align: center;
}

section.color .star-rating{
    height: 2.2em;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

section.color div.color{
    height: 4em;
    background-color: lightgray;
}
  
section.color h4,h6 {
    margin:0.5em;
}

section.color div.row{
    display:flex;
}

section.color button.close{
    margin-left: auto;
    background-color: white;
    border-color: white;
}